<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinvey.sample.Mymusic" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="com.kinvey.sample.Mymusic.StatusShareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyMusic"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kinvey.sample.Mymusic.MainActivity"
            android:label="MyMusic" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kinvey.sample.Mymusic.signingoogle.GoogleLoginActivity"
            android:label="MyMusic">
        </activity>
        <activity
            android:name="com.kinvey.sample.Mymusic.Deezer.UserTopTracksActivity"
            android:label="MyMusic">
        </activity>
        <activity
            android:name="com.kinvey.sample.Mymusic.SoundCloud.SoundCloud_Main"
            android:label="MyMusic">
        </activity>
    </application>

</manifest>
